<h2>Breweries</h2>

<h3>Active</h3>
<table id="activebrewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="active_brewery_name">Name</a> </th>
    <th> <a href="#" id="active_brewery_year">Year</a> </th>
  </tr>

</table>

<h3>Retired</h3>
<table id="retiredbrewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="retired_brewery_name">Name</a> </th>
    <th> <a href="#" id="retired_brewery_year">Year</a> </th>
  </tr>

</table>